Different status codes for negative Push Message Receipts

Now an AS receives 204 (No Content) if a push message successfully delivered to a UA and 410 (Gone) if it fails. But we have two different scenarios for fails:
- UA was unavailable during the whole TTL of push message;
- PS sent push message to the UA, but didn't receive acknowledgement.

If UA was unavailable that's OK. But if PS sent push message to the UA (may be few times), but didn't receive acknowledgement could means that here is a problem with the UA: connection problems or it can not decrypt/decode the message or application was crashed or something else goes wrong.
This information could be useful for an AS, first of all for problem detections and debugging purposes.
_Applications want to know about both, so that they can build reliable systems (c)_.

We can consider the next list of status codes:

| Status Code | Cause |
| --- | --- |
| ~~408 Request Timeout~~ | TTL expired, message was not sent |
| 409 Conflict | acknowledgement was not received |
| 410 Gone | TTL expired, message was not sent |
| ~~417 Expectation Failed~~ | acknowledgement was not received |
| 422 Unprocessable Entity | acknowledgement was not received |
| ~~434 Requested host unavailable~~ | TTL expired, message was not sent |

Or create a new status code with appropriate title.


**_... here is a problem with the UA: connection problems or it can not decrypt/decode the message or application was crashed or something else goes wrong. This information could be useful for an AS, first of all for problem detections and debugging purposes._**

Earlier, Elio proposed Acknowledgement Data for similar scenarios- https://github.com/webpush-wg/webpush-protocol/issues/42
& https://github.com/webpush-wg/webpush-protocol/pull/57 - which allows the user agent to return opaque data to its application server.

This was presented and discussed at IETF 94. It was closed with an agreement to re-open if there was more customer data to justify the use cases:

https://datatracker.ietf.org/doc/minutes-94-webpush/
- Discuss use cases for PR #57 and account for the results in a future update


Many of proposed status codes in this PR have specific use cases, requirements, and/or behavior. For example:

[408 Request Timeout](https://tools.ietf.org/html/rfc7231#section-6.5.7):

_The 408 (Request Timeout) status code indicates that the server did not receive a complete request message within the time that it was prepared to wait.  **A server SHOULD send the "close" connection option (Section 6.1 of [RFC7230]) in the response, since 408 implies that the server has decided to close the connection rather than continue waiting**.  If the client has an outstanding request in transit, the client MAY repeat that request on a new connection._

[417 Expectation Failed](https://tools.ietf.org/html/rfc7231#section-6.5.14):
_The 417 (Expectation Failed) status code **indicates that the expectation given in the request's Expect header field (Section 5.1.1) could not be met** by at least one of the inbound servers._


**_...Or create a new status code with appropriate title._**

Martin and I were also tempted by that idea earlier. 

I don't see 434 in the [registry](http://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml). Is this a FTP return code that you're proposing to duplicate?

We've [discussed](http://www.ietf.org/mail-archive/web/webpush/current/msg00362.html) the creation of new status codes. Here are the guidelines - [Considerations for New Status Codes](https://tools.ietf.org/html/rfc7231#section-8.2.2):

_Status codes are generic; they are potentially applicable to any resource, not just one particular media type, kind of resource, or application of HTTP.  As such, it is preferred that new status codes be registered in a document that isn't specific to a single application._

and the related [Procedure](https://tools.ietf.org/html/rfc7231#section-8.2.1):

_Values to be added to the HTTP status code namespace require IETF Review (see [RFC5226], Section 4.1)._


I'm not too thrilled with any of these status codes (except 204) as they don't feel entirely applicable. 

For ack/nack's, the 'client' is the AS, so a 4xx should only be if the AS should change something in its push message to have it processed. If a message expired or some other non-error in the UA caused it to not be delivered, a 3xx is possibly appropriate per HTTP/1.1 spec defines the 3xx for "Further action must be taken in order to complete the request". 410 seems quite inappropriate as that means the push resource is permanently gone, I'd expect that to apply if a subscription became invalid after a message was accepted, but before a client could process it.

Of course, all of these feel like a poor mapping at some layer, since the HTTP context is being applied to a paradigm it wasn't intended for at all, where this 'response' is being generated for a AS based on an ack from a UA with a synthesized GET to the push resource (which oddly is also exactly what is sent to the UA for the push message).

But while we're using these in this manner..

| Status Code | Cause |
| --- | --- |
| 204 No Content | Acknowledged |
| 400 Bad Request | Message encrypted improperly (UA failed to decrypt it) |
| 502 Bad Gateway | Error processing message (service worker exception, etc) |
| 504 Gateway Timeout | TTL expired, since the PS was attempting to send the request to the UA |

To change the context where these are appropriate we would need to modify the synthesized requests the receipt push promise uses. At the moment these status codes are inappropriate for a receipt since the synthesized request is a GET on the push message resource that was created.

For these status codes to be applicable, the push promise could instead be a synthesized GET request to the subscription endpoint. This could make things significantly easier for an AS, as it could discover expired subscriptions by seeing their nack's without having to maintain state regarding sent messages. That in itself would probably be rather useful for reducing state an AS has to track to get value out of receipts (maybe it could ask just for nack's to track problematic subscriptions).

Example receipt:

```
PUSH_PROMISE [stream 13; promised stream 82] +END_HEADERS
  :method        = GET
  :path          = /push/JzLQ3raZJfFBR0aqvOMsLrt54w4rJUsV
  :location      = /message/qDIYHNcfAIPP_5ITvURr-d6BGt
  :authority     = push.example.net

HEADERS      [stream 82] +END_STREAM
                        +END_HEADERS
  :status        = 204
  date           = Thu, 11 Dec 2014 23:56:56 GMT
```


> Earlier, Elio proposed Acknowledgement Data for similar scenarios- #42
> & #57 - which allows the user agent to return opaque data to its application server.

@brianraymor I will not vote for the payload in acks, because: 
- it may significantly increase memory requirements for the PS;
- it may be impossible to generate payload in some cases, for example, when application was crashed;
- it will increase traffic in the network.

Think that status code would be enough information to notify AS of a problem. Other debugging actions should be applied to resolve this.

> Many of proposed status codes in this PR have specific use cases, requirements, and/or behavior. For example

@brianraymor Thank you! I've crossed them

> I don't see 434 in the registry. Is this a FTP return code that you're proposing to duplicate?

@brianraymor hm... Note for me: double check information from Wikipedia :) Yes, 434 is a FTP status code. Also crossed, thanks!


> 400 Bad Request   Message encrypted improperly (UA failed to decrypt it)
> 502 Bad Gateway Error processing message (service worker exception, etc)

@bbangert as I said in the previous message, it may be hard/impossible for a UA to generate an appropriate request for PS, cause it may be crashed. Also it will increase complexity of a UA.
Information from PS would be enough for AS.


@idelpivnitskiy The UA **must** ack the message per the WebPush spec. If it crashed or whatever, it should be able to indicate it in the ack which the PS uses to generate the receipt. The 502 could be used anytime the UA never is able to process the message. Am I misunderstanding you on this?


@bbangert a little bit, thank you for clarification.

Let's see what will be after discussion about DOM spec in this thread: http://www.ietf.org/mail-archive/web/webpush/current/threads.html#00580


We've had these earlier discussions about 5xx codes and these scenarios. For examples, see #17 and #49. I'm not seeing new issues or solutions in this case. I'd prefer not to re-open issues during WGLC.


Closing - per my [summary](http://www.ietf.org/mail-archive/web/webpush/current/msg00608.html) on the mailing list.
